In [1]:
import pandas as pd
from sklearn.linear_model import LogisticRegression # our model
from sklearn.model_selection import train_test_split

In [2]:
# load my data 
car_data=pd.read_csv('./data/User_Data.csv')
car_data.sample(5)

      User ID  Gender  Age  EstimatedSalary  Purchased
119  15701962    Male   41            59000          0
278  15613014  Female   52            38000          1
296  15673539    Male   42            73000          1
256  15609637  Female   41            72000          0
199  15708228    Male   35            22000          0

In [3]:
car_data.shape

(400, 5)

In [4]:
car_data.describe()

            User ID         Age  EstimatedSalary   Purchased
count  4.000000e+02  400.000000       400.000000  400.000000
mean   1.569154e+07   37.655000     69742.500000    0.357500
std    7.165832e+04   10.482877     34096.960282    0.479864
min    1.556669e+07   18.000000     15000.000000    0.000000
25%    1.562676e+07   29.750000     43000.000000    0.000000
50%    1.569434e+07   37.000000     70000.000000    0.000000
75%    1.575036e+07   46.000000     88000.000000    1.000000
max    1.581524e+07   60.000000    150000.000000    1.000000

In [5]:
car_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 400 entries, 0 to 399
Data columns (total 5 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   User ID          400 non-null    int64
 1   Gender           400 non-null    object
 2   Age              400 non-null    int64
 3   EstimatedSalary  400 non-null    int64
 4   Purchased        400 non-null    int64
dtypes: int64(4), object(1)
memory usage: 15.8+ KB

In [6]:
X

NameError: name 'X' is not defined

In [ ]:
Y

In [ ]:
# data encoding 

car_data['Gender']=car_data['Gender'].replace(to_replace={'Male':1,'Female':0})
car_data['Gender']
car_data

In [ ]:
# go for selection the data / feature selection
features=['Gender','Age','EstimatedSalary']
X=car_data[features] # independent variable /features
Y=car_data['Purchased']

In [ ]:
x_train,x_test,y_train,y_test=train_test_split(X,Y,train_size=0.8,random_state=2)

In [ ]:
x_train

In [ ]:
# feature scaling 
from sklearn.preprocessing import StandardScaler
st_sc=StandardScaler()
X_train=st_sc.fit_transform(x_train)
X_test=st_sc.fit_transform(x_test)

In [ ]:
X_train

In [ ]:
model=LogisticRegression()
model.fit(X_train,y_train)
y_pred=model.predict(X_test)
y_pred

In [ ]:
y_pred=model.predict(X_test)
y_pred

In [ ]:
from sklearn.metrics import confusion_matrix
cm=confusion_matrix(y_test,y_pred)
print("confusion matrix \n",cm)

In [ ]:
from sklearn.metrics import accuracy_score
ac=accuracy_score(y_test,y_pred)
print(f"the accuracy of the model that u develop is {ac} ")

In [ ]:
## Gender	Age	EstimatedSalary
import numpy as np

new_customers=np.array([[1,25,25000],[0,25,500],[1,43,2300]]) 
new_customers=st_sc.fit_transform(new_customers)
new_cu_pred=model.predict(new_customers)
print(f"Your customers status {new_cu_pred}")

In [ ]:
from sklearn.metrics import accuracy_score, precision_score, recall_score, f1_score
accuracy = accuracy_score(y_test,y_pred) #
precision = precision_score(y_test,y_pred, pos_label=1)
recall = recall_score(y_test,y_pred, pos_label=1)
f1 = f1_score(y_test,y_pred, pos_label=1)

# Print the model performance metrics
print("Accuracy:", accuracy)  # 
print("Precision:", precision)
print("Recall:", recall)
print("F1 Score:", f1)